.project-list{
    padding: 10px;
    border-radius: 5px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.project-list-opened{
    border-left: 5px solid blueviolet;
}

.project-list:hover{
    border-left: 5px solid blueviolet;
    cursor: pointer;
    transition-duration: 1s;
}

.title-and-collapse-option{
    display: flex;
    justify-content: space-between;
    margin: 5px;
}

.tech-used-in-project{
    margin-top: 20px;
    margin: 5px;
}

.tech-used-in-project p:hover{
    background-color: green;
    transition-duration: 1s;
}

.tech-used-in-project p{
    background-color: black;
    color: white;
    border-radius: 90px;
    padding: 8px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.live-demo-button{
    background-color: blue;
    border-radius: 90px;
    width: fit-content;
    margin: 5px;
    padding: 10px;
}

.live-demo-button a{
    color: white;
    text-decoration: none;
    padding: 10px;
}

.live-demo-button:hover{
    background-color: blueviolet;
    transition-duration: 1s;
}

.description{
    margin: 5px;
}

.project{
    margin-top: 75px;
}

