/* NavBar.css */
.navbar {
    height: 50px;
    position: fixed; /* Makes the navbar fixed */
    top: 0; /* Aligns it to the top */
    left: 0; /* Aligns it to the left */
    width: 100%; /* Full width */
    background-color: #C6E7FF; /* Background color */
    padding: 1rem; /* Padding for aesthetics */
    z-index: 1000; /* Ensures it is above other content */
  }
  
  .nav-list {
    list-style: none; /* Removes bullets */
    display: flex; /* Displays items in a row */
    gap: 3.5rem; /* Spacing between items */
  }
  
  .nav-list li {
    color: white;
    display: inline; /* Keeps list items inline */
  }
  
  .nav-list a {
    color: rgb(255, 255, 255); /* Text color */
    text-decoration: none; /* Removes underline */
    font-weight: bold; /* Makes text bold */
  }
  
  .nav-list a:hover {
    text-decoration: underline; /* Underline on hover */
  }
  
  /* Optional: Add padding to the body to prevent overlap with the fixed navbar */
  /* body {
    padding-top: 40px; 
  } */

.nav-item .active{
    border-left: 2px solid yellow;
    color: yellow;
}

@media (max-width:1000px) {
    .navbar{
        display: none;
    }
}

.nav-list2 {
  list-style: none; /* Removes bullets */
  display: flex; /* Displays items in a row */
  gap: 2.5rem; /* Spacing between items */
}

.resume a{
  text-decoration: none;
  color: white;
}

.resume{
  background-color: rgb(149, 138, 245);
  text-align: center;
  width: 120px;
  padding : 1px;
  border-radius: 90px;
  cursor: pointer;
  border: 2px solid white;
  font-size: 19px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.resume:hover{
  background-color: rgb(103, 241, 103);
  width: 125px;
  color: rgb(57, 231, 80);
  transition-duration: 0.5s;
}